.item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    color: white;
    background-color: grey;
    text-align: center;
}

.item-search{
    width: 60vw;
    margin-bottom: 10px;
}

.item-pagination{
    width: 60vw;
}

.pagination-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8vh;
    text-align: center;
    background-color: #ab4d4d;
    border-radius: 10px;
    color: white;
}

.pagination-box span{
    font-size: medium;
}

.pagination-box button {
    padding: 5px;
    cursor: pointer;
    background-color: rgb(65, 9, 9);
    border-radius: 30px;
    text-align: center;
    width: 5vw;
    height: 5vh;
}

.pagination-box button:disabled {
    cursor: not-allowed;
    background-color: #ddd;
    color: black;
}

.pagination-box span {
    margin: 0 10px;
}

.item-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 60vw;
    height: 70vh;
    background-color: white;
    color: black;
    border-radius: 10px;
    align-items: center;
}

.item-content-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 0 1 calc(25% - 10px);
    width: 150px;
    height: 150px;
    background-color: rgb(213, 76, 76);
    color: rgb(10, 10, 10);
    border-radius: 10px;
    margin: 5px;
    color: white;
}

.button-release{
    display: inline-block;
    text-align: center;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background-color: rgb(93, 13, 13);
    width: 8vw;
    height: 4vh;
    margin: 2px;
}

.button-release:disabled {
    cursor: not-allowed;
    background-color: #4e4b4b;
    color: rgb(255, 255, 255);
}