.manage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    color: white;
    background-color: grey;
    z-index: 1;
}

.manage-content{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
    width: 60vw;
}

.manage-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 60px;
}

.button-style{
    display: inline-block;
    text-align: center;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background-color: rgb(171, 77, 77);
    width: 20vw;
    height: 6vh;
    margin: 2px;

}

button:hover{
    transform: scale(1.04);
    background-color: rgb(171, 77, 77);
}


input{
    
    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;
    vertical-align: baseline;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: .16px;
    border-radius: 0;
    outline: 2px solid transparent;
    outline-offset: -2px;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #8d8d8d;
    background-color: #f4f4f4;
    padding: 0 16px;
    color: #161616;
    transition: background-color 70ms cubic-bezier(.2,0,.38,.9),outline 70ms cubic-bezier(.2,0,.38,.9);  
    border-radius: 30px;

}

input:focus{
    outline: 2px solid #0f62fe;
    outline-offset: -2px;
}


.table-content{
    width: 100%;
    height: 63vh;
}

table, th, td {
    border: 1px solid black;
    width: 100%;
    table-layout: fixed;
    border-radius: 10px;
    text-align: center;
}

th{
    background-color: rgb(148, 78, 78);
    color: rgb(255, 255, 255);
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8vh;
    text-align: center;
    margin-top: 18px;
    background-color: #ab4d4d;
    border-radius: 10px;
    color: white;
}

.pagination span{
    font-size: medium;
}

.pagination button {
    padding: 5px;
    cursor: pointer;
    background-color: rgb(65, 9, 9);
    border-radius: 30px;
    text-align: center;
    width: 5vw;
    height: 5vh;
}

.pagination button:disabled {
    cursor: not-allowed;
    background-color: #ddd;
    color: black;
}

.pagination span {
    margin: 0 10px;
}

.item-content-container{
    background-color: white;
    border-radius: 10px;
    color: black;
    width: 60vw;
    height: 73vh;
}

.buttonQty{
    display: inline-block;
    text-align: center;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background-color: rgb(171, 77, 77);
    width: 3vw;
    height: 5vh;
    margin: 2px;
}