

.sidebar{
    position: absolute;
    width: 300px;
    height: 100%;
    background-color: rgba(171, 77, 77, 0.3);
}

.sidebar-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

.sidebar-link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.link{
    font-size: 1.5em;
    padding: 10px;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: rgba(56, 163, 161, 0.3);
    color: white;
    text-align: center;
    margin: 5px;
}

.link:hover{
    background-color: rgba(32, 77, 77, 0.5);
    color: aliceblue;
}

.link.active{
    background-color: rgba(176, 108, 56, 0.3);;
}

@media screen and (max-width: 600px) {
    .sidebar{
        display: none;
    }

    .sidebarOpen{
        position: absolute;
        width: 300px;
        height: 100%;
        background-color: rgba(139, 61, 61, 0.6);
    }
}